html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
article{
    width: 100%;
    height: 100%;
}
section.fullscreen{
    width: 100%;
    height: 100%;
}
nav{
    position: fixed;
    background: rgba(0,0,0,0.9);
    z-index: 10;
    margin: 0;
    padding: 0;
    color: #fff;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    margin: 15px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: #c705d8;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #c705d8;
    background: none;
}
@media(max-width:767px){
    nav{
        visibility: hidden;
        width: 0;
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        overflow-y: scroll;
    }
    nav button#disclosure{
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
    }
    nav.open{
        visibility: visible;
        width: 250px;
        max-width: 90%;
        height: 100%;
    }
    nav #logo{
        width: 50px;
        height: 50px;
    }
}
@media(min-width:768px){
    nav{
        white-space: nowrap;
        visibility: visible;
        width: 100%;
        max-width: 100%;
        height: 50px;
        text-align: left;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    nav ul, nav li, nav img{
        position: relative;
        display: inline;
        padding: 0;
        line-height: 50px;
        vertical-align: middle;
    }
    nav ul{
        margin-right: 11%;
    }
    nav li{
        background: -webkit-gradient(linear, left top, right top, color-stop(89%,#fff), color-stop(99%,rgba(0, 0, 0, 0))) no-repeat center center fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    nav li:hover{
        background: none;
        -webkit-background-clip: none;
        -webkit-text-fill-color: none;
    }
    nav button#disclosure{
        display: none;
        visibility: hidden;
    }
}
@media(min-width:1200px){
    nav{
        white-space: nowrap;
        width: 80px;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-x:hidden;
        overflow-y: scroll;
        opacity: 0.5;
    }
    nav:hover{
        width: initial;
        opacity: 1;
    }
    nav ul{
        display: block;
        white-space: normal;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
    }
    nav li{
        display: block;
        margin: 0;
        padding: 0 10px;
        white-space: nowrap;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,#fff), color-stop(90%,rgba(0, 0, 0, 0)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    nav:hover li{
        backround: none;
        color: #fff;
        -webkit-text-fill-color: #fff;
    }
}