@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(http://fonts.googleapis.com/css?family=Tangerine);

html, body{
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
section{
    overflow-x:hidden
}
section.fullscreen{
    min-height: 105%;
    width: 100%;
    display: table;
}
section.halfscreen{
    min-height: 52.5%;
    width: 100%;
    display: table;
}
section.fullscreen .section_wrapper, section.halfscreen .section_wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    margin: 0;
}
.table_cell_contents{
    max-width: 850px;
    margin: 0 auto;
}
.section_wrapper {
    max-width: 850px;
    margin: 0 auto;
    padding: 6px;
}
.light{
    background: URL("http://static.tumblr.com/ndk5iis/2Kbnait6a/noisy-texture-100x100-o5-d10-c-f5f5f5-t0.png");
    color: #111;
    text-shadow: 0 1px 1px #eee;
}
.dark{
    background: URL("http://static.tumblr.com/ndk5iis/5X5nakeaf/noisy-texture-100x100-o5-d10-c-1f1f1f-t0.png");
    color: #eee;
    text-shadow: 0 0 10px #000;
}
.title {
    min-height: 70px;
    margin:0;
    padding:28px;
    position: relative;
    overflow: hidden;
}
.title h1{
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 2;
}
#make .title{
    background: URL("http://static.tumblr.com/ndk5iis/YPhnajlh3/stroma.png") no-repeat center 0 fixed;
    background-size: cover;
    color: #eee;
    text-shadow: 0 0 17px #000;
}
.break{
    width: 100%;
    height: 105%;
}
#stromabreak{
    background: URL("http://static.tumblr.com/ndk5iis/YPhnajlh3/stroma.png") no-repeat center 0 fixed;
    background-size: cover;
}
#businessbreak{
    background: URL("http://lorempixel.com/g/1700/900/business/5") no-repeat center 0 fixed;
    background-size: cover;
}
#yanice{
    background: URL('http://41.media.tumblr.com/47a224ec72a05c716705c33fb35e18cf/tumblr_n7hisp8VbE1tdkq6yo1_1280.jpg') no-repeat center center scroll;
    background-size: cover;
}
@media all and (max-device-width : 800px) {
	body {
		-webkit-text-size-adjust: none;
	}
    h1{
        font-size: 110px;
    }
    h2{
        font-size: 100px;
    }
    p{
        font-size: 50px;
    }
    #follow{
        -webkit-transform: scale(3) translate(0, -10px);
    }
    section.fullscreen{
        min-height: 60%;
    }
    .break{
        height: 5%;
    }
    #make .title, #stromabreak, #businessbreak{
        background: #3e0143;
    }
}