h1 {
    font-size: 60px;
    font-weight: 300;
}
h2 {
    font-family: 'Tangerine', sans-serif;
    font-size: 55px;
    font-weight: 400;
}
p {
    font-size: 20px;
}
@-webkit-keyframes glow-light {
    0%, 100%{
        color: #ede8d2;
        text-shadow: 0 0 8px rgba(255, 231, 162, 0);
    }
    40% {
        color: #fff9e0;
        text-shadow: 0 0 8px rgb(255, 231, 162);
    }
}
@keyframes glow-light {
    0%, 100%{
        color: #ede8d2;
        text-shadow: 0 0 8px rgba(255, 231, 162, 0);
    }
    40% {
        color: #fff9e0;
        text-shadow: 0 0 8px rgb(255, 231, 162);
    }
}
@-webkit-keyframes glow-dark {
    0%, 100%{
        color: #410145;
    }
    40% {
        color: #7f0088;
        text-shadow: 0 0 12px rgba(134, 4, 145, 0.3);
    }
}
@keyframes glow-dark {
    0%, 100%{
        color: #410145;
    }
    40% {
        color: #7f0088;
        text-shadow: 0 0 12px rgba(134, 4, 145, 0.3);
    }
}
html, body{
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}
.light a {
    -webkit-animation-name: glow-dark;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3.5s;
    animation-name: glow-dark;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    color: #410145;
}
.dark a {
    -webkit-animation-name: glow-light;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3.5s;
    animation-name: glow-light;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    color: #ede8d2;
}